.message {
    display: inline-block;
    background-color: #efefef;
    color: #7d6667;
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
}
.me {
    background-color:  #e44d3a;
    color: white;
    align-self: flex-end;
}